<div class="hero">

    {{widget('feature', 'feature', {
        'header': 'profile',
        'strapline': '',
        'defaultBgImg': asset('images/feature-image.jpg'),
        'positionTopPercentage': '0',
        'showBtn': true,
        'buttonText': 'Lorem Ipsum'
    })|raw}}

    {% include "includes/header.twig" %}

</div>
